<% include partials/chatHeader %>

<div class="chat__sidebar">
    <h3>Contacts</h3>
    <div id="users"></div>
</div>

<div class="chat__main">
    <ol id="messages" class="chat__messages"></ol>
    <div class="chat__footer">
        <form id="message-form">
            <input name="message" type="text" placeholder="Enter your message.." autofocus autocomplete="off">
            <button>Send</button>
       </form>
    </div>
</div>

<% include partials/chatFooter %>



